<div class="box">
    <div class="card">
        <% member = member[:member] %>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src=<%= member[:institution_logo]%> />
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4"><%= member[:institution_name] %></p>
                </div>
                <div class="media-right">
                    <div class="button"> 
                            <%= link_to "Resolve Issues", registrations_edit_path(:id => member[:id]) %>
                            </div>
                    <div class="button">
                            <%= link_to "View Membership", member_path(:id => member[:id]) %>
                    </div>
                </div>
            </div>
            <div class="box"> 
                <%= render partial: 'account', collection: member[:accounts] %>   
            </div>
        </div>
    </div>
</div>