
<div>
    <% member = member[:member] %>
    <%= "Membership at #{member[:institution_name]}" %>
    <img src=<%= member[:institution_logo]%> />
    <%= member[:connection_status] %>
    <%= member_message(member[:connection_status]) %>
    <div class="button"> 
        <% if member_has_issues(member[:connection_status]) %>
            <%= link_to "Resolve Issues", registrations_show_path(:member_id => member[:member_id]) %>
        <% else %>
            <%= link_to "View Membership", member_path(:member_id => member[:member_id]) %>
        <% end %>
    </div>
    <div class="box"> 
        <%= render partial: 'account', collection: member[:accounts] %>   
    </div>
</div>