<!DOCTYPE html>
<html>
  <head>
    <title>FinLysian</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6196b06d91.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-dark-gray" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-item"></div>
        <%= link_to "Home", root_path, :class => "navbar-item has-text-white"%>
      </div>
      <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-text-white">
          <%= current_user.email %>
        </div>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-item button is-light-gray nav-button' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-item button nav-button is-primary'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-item button is-primary nav-button' %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-item button is-light-gray has-text-white nav-button' %>
      <% end %>
      </div>
    </nav>
    <%= yield %> 
  </body>
</html>
