<div class="container">
    <%= current_user.guid %>
    <div>
        <%=form_with url: @form_url, method: @method ||= :post do |f| %>
            <%= render partial: 'institution_credential', collection: @institution_credentials, locals: {f:f} %>
            <%= f.hidden_field 'institution_code', :value => @institution_code %>
            <%= f.submit "Submit" %>
        <% end %>
    </div>
</div>