<div class="field">
<<<<<<< HEAD
	<%= f.label institution_credential.label, class: "label has-text-white" %>
	<% if institution_credential.type == "PASSWORD" %>
		<%= f.password_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
	<% else %>
		<%= f.text_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
	<% end %>
=======
  <%= f.label institution_credential.label, class: "label has-text-white" %>
  <% if institution_credential.type == "PASSWORD" %>
	<%= f.password_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
  <% else %>
    <%= f.text_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
  <% end %>
>>>>>>> 799e46d764288a8c1b26488d4ec579257074c99d
</div>