<div class="container">
    <h2>Members New</h2>
    <%= @institution_code %>
    <%= current_user.guid %>
    <div>
        <%=form_with url: 'create' do |f| %>
            <% for @credential in @institution_credentials %>
                <%= f.label @credential.guid %>
                <%= f.label @credential.label %>
                <%= f.text_field "credentials[#{@credential.guid}]" %>
                <% end %>
                <%= f.hidden_field 'institution_code', :value => @institution_code %>
            <%= f.submit "create member" %>
        <% end %>
    </div>
</div>
