<div class="container">
  <div class="box is-dark-gray">
    <div class='card is-dark-gray'>
      <%= @member_guid %>
      <% unless @connection_status.name == "CONNECTED" %>
        <p class="title is-4 has-text-white"><%= @connection_status.name %></p>
        <p class="subtitle is-6 has-text-white"><%= @connection_status.message %></p>
        <%= link_to "Resolve Issues", registrations_edit_path(id: @member.id), class: "button is-fullwidth member-control-button has-text-white" %>
      <% end %>
      <%= render 'delete_button' %>
    </div>
  </div>
</div>